.spanFooter{
    /* background: linear-gradient(to bottom, #fffc3dec, #f03036ea, #fffc3dec, #f03036ea); */
    background: linear-gradient(to bottom right, #fffc3dec, #5272ad,#fee206, #eb2d32,#5272ad, #f03036ea);
    background-size: 100% 100%;
    background-clip: text;
    -webkit-text-stroke: 3px transparent;
    -webkit-text-fill-color: #14141fe3;
}

.foot{
    
    position:fixed;
    left:0px;
    bottom:0px;
    height:30px;
    width:100%;
    background:#999;
}