
/*
shadow-sm  bg-body rounded en pagination*/

.page-item .page-link {   
    border: none;
    border-radius: 5px;
    color: black;
    margin: 2px;
}

 .pagination .active a {
    background-color: #354259;
    color: white;
}

